<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_TradeDoubler>
            <version>0.1.0</version>
        </MobWeb_TradeDoubler>
    </modules>
    <global>
        <models>
            <tradedoubler>
                <class>MobWeb_TradeDoubler_Model</class>
            </tradedoubler>
        </models>
        <helpers>
            <tradedoubler>
                <class>MobWeb_TradeDoubler_Helper</class>
            </tradedoubler>
        </helpers>
        <blocks>
            <tradedoubler>
                <class>MobWeb_TradeDoubler_Block</class>
            </tradedoubler>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <mobweb_tradedoubler>
                    <file>mobweb_tradedoubler.xml</file>
                </mobweb_tradedoubler>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <tradedoubler>
                        <type>singleton</type>
                        <class>tradedoubler/observer</class>
                        <method>controllerActionLayoutGenerateXmlBefore</method>
                    </tradedoubler>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <routers>
            <tradedoubler>
                <use>standard</use>
                <args>
                    <module>MobWeb_TradeDoubler</module>
                    <frontName>tradedoubler</frontName>
                </args>
            </tradedoubler>
        </routers>   
    </frontend>
</config>